.upload-header
  = retina_image(default: 'my-videos-logo.png', retina: 'my-videos-logo-retina.png', width: 132, height: 40)
= render partial: 'posts/combined_post_form', locals: {active: 'video', video: @video, hide_post: true, hide_document: true, hide_photo: true, hide_top_tab: true, hide_bottom_tab: true, hide_choose_from_existing: true, title: 'Share a Video' }
