$myschoolGreen: #91C447;
$myschoolBlue: #56BAE5;
$lightGray: #F3F3F2;
$gray: #d7d7d7;
$darkGray: #333;
$mediumGray: #999;
$facebookBlue: #2b4d7e;
$white: white;
$red: #FE3939;
$gold: #FECE31;

$bodyBackgroundColor: #fafafa;
$contentBackgroundColor: #ffffff;
$contentBorderColor: #dddddd;
