// Using this to get inline date fields

#user_birthday_2i{
  width: 60%
}

#user_birthday_3i{
  width: 16%
}

#user_birthday_1i{
  width: 22%
}


#battles_finalize_game_time_game_time_4i{
  width: 40%
}

#battles_finalize_game_time_game_time_5i{
  width: 40%
}


// @media only screen and (max-width: 40em) {

// #battles_finalize_game_time_game_time_3i{
//   width: 30%
// }

// #battles_finalize_game_time_game_time_2i{
//   width: 30%
// }

// #battles_finalize_game_time_game_time_1i{
//   width: 30%
// }

// #battles_finalize_game_time_game_time_4i{
//   width: 45%
// }

// #battles_finalize_game_time_game_time_5i{
//   width: 45%
// }


// }
